
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
UPLOADTHING_TOKEN=""

# Local
DATABASE_URL="postgresql://admin:admin@localhost:5432/mydatabase"
# Prod
DATABASE_URL="postgresql://{user}:{password}@{url}:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://{user}:{password}@{url}:5432/postgres"


